* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}



header {
height: 100px;
background-color: #ffffffbb;
display: block;
justify-content: space-around;
align-items: center;
}


ul{
display: flex;
list-style-type: none;
align-items: center;
}
ul li a{
padding: 0 18px;
text-decoration: none;
color: #ce595d;
display: inline-block;
font-weight: 600;
font-size: 14px;
}
li a::after{
content: '';
display: block;
height: 2px;
width: 0;
background: #ce595d;
transition: all .5s;
}
li a:hover::after{
width: 100%;
}

nav {
padding: 0 15px;
}
a:focus,.focus a {
outline: none !important;
}

.contenedor{
width: 90%;
max-width: 1600px;
margin: auto;
overflow: hidden;
padding: 0 50px;
}


.contenedor-textos{
padding: 0;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #333;
}


.menu-navegacion{

display: flex;
justify-content: space-between;
height: 100px;
align-items: center;
}
.logo{
  height: 80px;
}
.logo img{
  display: block;
  height: 100%;
}


.hero{
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
  height: 400px;
  text-align: center;
  padding: 90px 20% 45px;
  }

.hero h1{
font-size: 40px;
font-weight: 500;
color: rgb(255, 255, 255);
text-shadow: 0px 2px 2px rgba(0,0,0,0.65);
text-transform: uppercase;
}
.hero h2 {
font-size: 14px;
color: #ffffff;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 1px;
background-color: #e0cf87;
padding: 3px 4px;
border-radius: 4px 4px 4px 0px;
}
.hero p{
font-size: 18px;
font-weight: 500;
color: #222222;
line-height: 22.5px;
margin: 20px 0;
text-shadow: 0px 1px 0px rgb(255 255 255 / 65%);
}
.cta{
display: block;
padding: 10px;
background-color: #ce595d;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
border-radius: 25px;
outline: none;
border: none;
text-transform: uppercase;
width: 20%;
text-decoration: none;
text-align: center;
font-size: 14px;
}
.cta:hover{background-color: #e06b6f;}
.cta-menu{
display: block;
padding: 10px 20px;
background-color: #ce595d;
color: #ffffff;
border-radius: 25px;
outline: none;
border: none;
}
.cta-menu a{
color: #ffffff;
font-weight: 600;
}

.cta-menu:hover{
background-color: #e06b6f;
display: block;
}


#destacados{
text-align: center;
}
.destacados-container{
display: flex;
justify-content:center;
}
#destacados h2{
color: rgb(139, 167, 41);
text-align: center;
padding-top: 45px;
}
#destacados h3{
color: rgb(92, 20, 20);
text-align: center;
}
article{ 
align-items: center;

}

.producto {
  background-color: #fdf9f0;
  margin: 30px;
  padding: 25px;
  box-shadow: 2px 2px 10px rgb(76 73 66 / 43%);
  border-radius: 8px;

}

.producto h3{padding: 3px; color: #353535; font-size: 25px; font-weight: 700;}
.producto h4{background-color: #7c7b73;padding: 3px; color: #ffffff; font-size: 11px; font-weight: 600; width: auto;}